<div fxLayout="column" class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="success">
    <h3 class="head-line">Success Stats</h3>
    <span class="view"
      >
      <!-- <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      view all
    </span>
  </div>
  <div fxLayoutAlign="space-between center" fxFlex="ltr" class="marg">
    <p class="head-line-1" fxFlex="35">Anesthtics</p>
    <mat-progress-bar
      mode="determinate"
      value="83"
      class="stats-bar"
    ></mat-progress-bar>
    <span class="num-bold"> 83%</span>
  </div>
  <div fxLayoutAlign="space-between center" fxFlex="ltr" class="marg">
    <p class="head-line-1"fxFlex="35">Gynecology</p>
    <mat-progress-bar
      mode="determinate"
      value="95"
      class="stats-bar"
    ></mat-progress-bar>
    <span class="num-bold"> 95%</span>
  </div >
  <div fxLayoutAlign="space-between center" fxFlex="ltr" class="marg">
    <p class="head-line-1"fxFlex="35">Nerology</p>
    <mat-progress-bar
      mode="determinate"
      value="100"
      class="stats-bar"
    ></mat-progress-bar>
    <span class="num-bold"> 100%</span>
  </div>
  <div fxLayoutAlign="space-between center" fxFlex="ltr" class="marg">
    <p class="head-line-1"fxFlex="35">Oncology</p>
    <mat-progress-bar
      mode="determinate"
      value="89"
      class="stats-bar"
    ></mat-progress-bar>
    <span class="num-bold"> 89%</span>
  </div>
  <div fxLayoutAlign="space-between center" fxFlex="ltr" class="marg">
    <p class="head-line-1"fxFlex="35">Orthopedics</p>
    <mat-progress-bar
      mode="determinate"
      value="97"
      class="stats-bar"
    ></mat-progress-bar>
    <span class="num-bold"> 97%</span>
  </div>
  <div fxLayoutAlign="space-between center" fxFlex="ltr" class="marg">
    <p class="head-line-1"fxFlex="35">Physiotherapy</p>
    <mat-progress-bar
      mode="determinate"
      value="100"
      class="stats-bar"
    ></mat-progress-bar>
    <span class="num-bold"> 100%</span>
  </div>
</div>
