h3 {
  margin: 0%;
}
.h-rep{
  display: flex;
  text-align: center;
  // background-color: antiquewhite;
  margin: 0 0 5px 0;
}
h4 {
  margin: 0%;
}
.doctor-list{
  margin-bottom: 15px;
  margin-top: 15px;
}
