<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="isHandsets === false"
  >
    <mat-toolbar routerLink="/home" (click)="isOpen()">
      <!-- <mat-icon aria-label="Side nav toggle icon">home</mat-icon> -->
      <img src="./assets/imge/logo.png" alt="logo" />
      <span (click)="isOpen()">MediKit</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-stepper orientation="vertical">
        <mat-step none>
          <button mat-button routerLink="/dashboard">
            <mat-icon>view_quilt</mat-icon>
            over view
          </button>
          <li>
            <button mat-button>
              <mat-icon>man</mat-icon>
              Doctor
            </button>
          </li>
          <mat-divider></mat-divider>
          <li>
            <button mat-button>
              <mat-icon>person</mat-icon>
              patient
            </button>
          </li>
          <mat-divider></mat-divider>
          <li>
            <button mat-button>
              <mat-icon>event_note</mat-icon>
              Department
            </button>
          </li>
        </mat-step>
      </mat-stepper>
      <mat-divider></mat-divider>
      <li>
        <button mat-button>
          <mat-icon>assignment</mat-icon>
          Appointment
        </button>
      </li>
      <mat-divider></mat-divider>
      <li>
        <button mat-button>
          <mat-icon>person</mat-icon>
          pharmacy
        </button>
      </li>
      <mat-divider></mat-divider>
      <li>
        <button mat-button selected>
          <mat-icon>credit_card</mat-icon>
          payment
        </button>
      </li>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="white" dir="rtl" fxLayoutGap="20px" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandsets"
      >
        <mat-icon aria-label="Side nav toggle icon" (click)="isOpen()"
          >menu</mat-icon
        >
      </button>
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        dir="rtl"
        fxLayoutGap="20px"
      >
        <ul dir="rtl" fxLayoutGap="20px" class="ul-menu">
          <button mat-button [matMenuTriggerFor]="menu">
            <div fxlayout="row" class="small-menu">
              <mat-icon>expand_more</mat-icon>

              <mat-card-header fxlayout="row">
                <mat-card-title> Dr.{{docList.nameOne}} </mat-card-title>
                <mat-card-subtitle> {{docList.posittion}} </mat-card-subtitle>
                <img src="./assets/imge/logo.png" alt="photo" />
                </mat-card-header>

            </div>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button>
            <button mat-icon-button>
              <mat-icon> settings </mat-icon>
            </button>
          </mat-menu>
          <!-- <li>
            <mat-form-field>
              <mat-label>What's your name?</mat-label>
              <input>
            </mat-form-field>
          </li> -->
        </ul>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
