<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="isHandsets === false"
  >
    <mat-toolbar routerLink="/home" (click)="isOpen()">
      <!-- <mat-icon aria-label="Side nav toggle icon">home</mat-icon> -->
      <img src="./assets/imge/logo.png" alt="logo" />
      <span (click)="isOpen()">MediKit </span>
    </mat-toolbar>

    <mat-nav-list>
      <button mat-button routerLink="/dashboard" class="over-view">
        <mat-icon>view_quilt</mat-icon>
        over view
      </button>
      <li>
        <button mat-button>
          <mat-icon>man</mat-icon>
          Doctor
        </button>
      </li>
      <mat-divider></mat-divider>
      <li>
        <button mat-button>
          <mat-icon>person</mat-icon>
          patient
        </button>
      </li>
      <mat-divider></mat-divider>
      <li>
        <button mat-button>
          <mat-icon>event_note</mat-icon>
          Department
        </button>
      </li>

      <mat-divider></mat-divider>
      <li>
        <button mat-button>
          <mat-icon>assignment</mat-icon>
          Appointment
        </button>
      </li>
      <mat-divider></mat-divider>
      <li>
        <button mat-button>
          <mat-icon>person</mat-icon>
          pharmacy
        </button>
      </li>
      <mat-divider></mat-divider>
      <li>
        <button mat-button selected>
          <mat-icon>credit_card</mat-icon>
          payment
        </button>
      </li>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      color="white"
      fxLayout="row"
      fxLayoutGap="10px"
      fxLayoutAlign="space-between center"
      class="topmenu"
    >
      <div
      fxFlex
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="3px"
        class="search"
      >
      <mat-icon
        aria-label="Side nav toggle icon"
        (click)="isOpen()"
        dir="ltr"
      >
        menu
      </mat-icon>
      <mat-icon>search</mat-icon>
      <input type="text" class="pragra" placeholder="Search for Files, Pathient or Files">
      </div>
      <div  class="name">
        <div fxFlex fxLayoutAlign="center center">
          <mat-icon> textsms</mat-icon>
          <img src="./assets/imge/logo.png" alt="photo" />
          <button mat-button [matMenuTriggerFor]="menu">
            <span> Dr.{{ docList.nameOne }} </span><br>
            <span> Admin {{ docList.posittion }} </span>
            <mat-icon>expand_more</mat-icon>
          </button>
        </div>

        <ul *ngIf="" fxLayoutGap="0px" class="ul-menu" fxFlex >
          <mat-icon> textsms</mat-icon>
          <img src="./assets/imge/logo.png" alt="photo" />
          <button mat-button [matMenuTriggerFor]="menu">
            <div fxlayout="row" class="small-menu" fxLayoutGap="0px">
              <mat-icon>expand_more</mat-icon>
              <mat-card-header fxlayout="row">
                <mat-card-title> Dr.{{ docList.nameOne }} </mat-card-title>
                <mat-card-subtitle>
                  Admin {{ docList.posittion }}
                </mat-card-subtitle>
              </mat-card-header>
            </div>
          </button>
          <!-- <li>
          <mat-form-field>
            <mat-label>What's your name?</mat-label>
            <input>
          </mat-form-field>
        </li> -->
        </ul>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            Sign out
          </button>
          <button mat-icon-button>
            <mat-icon> settings </mat-icon>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
