<!-- <mat-toolbar color="white"> -->

<!-- <li>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>view_quilt</mat-icon>
      over view
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        Sign out
      </button>
  </li> -->
<div>
  <li>
    <button mat-button>
      <mat-icon>view_quilt</mat-icon>
      over view
    </button>

  </li>

  <li>
    <button mat-button>
      <mat-icon>man</mat-icon>
      Doctor
    </button>

  </li>
  <li>
    <button mat-button>
      <mat-icon>person</mat-icon>
      patient
    </button>

  </li>
  <li>
    <button mat-button>
      <mat-icon>event_note</mat-icon>
      Department
    </button>

  </li>
  <li>
    <button mat-button>
      <mat-icon>assignment</mat-icon>
      Appointment
    </button>

  </li>
  <li>
    <button mat-button>
      <mat-icon>person</mat-icon>
      pharmacy
    </button>

  </li>
  <li>
    <button mat-button>
      <mat-icon>credit_card</mat-icon>
      payment
    </button>

  </li>

</div>

<!-- </mat-toolbar> -->