<div
  fxFill
  fxLayout="column"
  fxLayout.lt-sm="column"
  fxLayoutGap="10px"
  fxLayoutAlign="space-around stretch"
>
  <div *ngIf="" fxLayout.lt-sm="column" class="row-count">
    <!-- <mat-card fxFlex>Doctors</mat-card> -->
    <app-counter

      icon="doctors.png"
      title="Doctors"
      nots="Doctors joined this week"
      idNum="3"
    ></app-counter>
    <!-- <mat-card fxFlex>staffs</mat-card> -->
    <app-counter
      fxFlex="30"
      icon="staffs.png"
      title="Staffs"
      nots="Staffs on vacation"
      idNum="8"
    ></app-counter>
    <!-- <mat-card fxFlex>patients</mat-card> -->
    <app-counter
      fxFlex="30"
      icon="patients.png"
      title="Patients"
      nots="New patients admitted"
      idNum="175"
    ></app-counter>
    <!-- <mat-card >pharmacies</mat-card> -->
    <app-counter
      fxFlex="30"
      icon="pharamcy.png"
      title="Pharamcies"
      nots="Medicine on reserve"
      idNum="85"
    ></app-counter>
  </div>

  <div
    fxFlex="20"
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="space-between center"
    class="row-count"
  >
    <app-counter *ngFor="let item of arr" fxFlex [data]="item"></app-counter>
  </div>

  <br />

  <div  fxLayout="row" fxLayoutGap="20px" class="report">
    <mat-card fxFlex="30"><app-analytics> </app-analytics></mat-card>
    <mat-card fxFlex><app-report> </app-report></mat-card>
    <mat-card fxFlex><app-stats> </app-stats></mat-card>
  </div>

  <br />

  <div
    fxLayout="row"
    fxLayoutGap="10px"
    class="on-line"
    fxFlex="66"
    fxFlexOffset="15"
  >
    <mat-card fxFlex> online </mat-card>
    <mat-card fxFlex>doctors list</mat-card>
  </div>
</div>

<!-- <div class="grid-container">
  <h1 class="mat-h1">Over View</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">




      <mat-card class="dashboard-card">


        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
