.container{
  max-height: 200px;
  // overflow-y: scroll;
}
:host{
  margin: 0px;
}
.h-rep{
  // margin: 0 0 20px 0;
  .view{
    font-size: x-small;
  }
}
h3 {
  margin: 0%;
}
h4 {
  margin: 0%;
}
.room{
  margin-top: 15px;
    margin-bottom: 40px;
    transition: 0.3s ;


  .slogan{
    font-size: x-small;
  }
}
.svgIcon{
  width: 20px;
  height: 20px;
}
mat-icon{
  width: 20px;
  height: 20px;
}
.size-img {
  max-width: 25px !important;
  margin-right: 25px !important;
}
.room :hover{
  transform: scale3d(1.05, 1.05, 1.05);
  transition: 0.3s ease-in-out;
  box-shadow: 4px 5px rgba(242, 241, 241, 0.3294117647);
}
