.container{
  max-height: 200px;
  overflow-y: scroll;
}
:host{
  margin: 0px;
}
.h-rep{
  // margin: 0 0 20px 0;
  .view{
    font-size: x-small;
  }
}
h3 {
  margin: 0%;
}
h4 {
  margin: 0%;
}
.room{
  margin-top: 15px;
  margin-bottom: 15px;

  .slogan{
    font-size: x-small;
  }
}

